.recipes__holder {
  grid-column: 10 / 13;
  grid-row: 1 / -1;
  border-radius: 25px 0 0 25px;

  &-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.5rem;
    gap: 1.5rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-recipe {
    width: 95%;
    height: 15%;
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(
      -45deg,
      rgba(228, 235, 241, 0.98),
      rgba(239, 242, 249, 0.98)
    );
    box-shadow: inset rgba(22, 27, 29, 0.25) -4px -4px 3px,
      inset rgba(250, 251, 255, 0.3) 4px 4px 3px,
      rgba(22, 27, 29, 0.25) 8px 8px 12px,
      rgba(250, 251, 255, 0.3) -8px -8px 12px;
    pointer-events: all;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: inset rgba(22, 27, 29, 0.25) -2px -2px 3px,
        inset rgba(250, 251, 255, 0.3) 3px 3px 4px,
        rgba(22, 27, 29, 0.25) 6px 6px 8px,
        rgba(250, 251, 255, 0.3) -6px -6px 8px;
      transform: translateY(2px);

      & .recipes__holder-recipe--image {
        box-shadow: inset rgba(22, 27, 29, 0.25) -1px -1px 3px,
          inset rgba(250, 251, 255, 0.3) 1px 1px 3px,
          rgba(22, 27, 29, 0.25) 3px 3px 8px,
          rgba(250, 251, 255, 0.3) -3px -3px 8px;

        &-el {
          -webkit-mask-image: linear-gradient(
            to right,
            #eff2f9 80%,
            transparent
          );
          mask-image: linear-gradient(to right, #eff2f9 80%, transparent);
        }
      }
    }

    &:active {
      box-shadow: inset rgba(22, 27, 29, 0.25) 2px 2px 3px,
        inset rgba(250, 251, 255, 0.3) -2px -2px 3px,
        rgba(22, 27, 29, 0.25) -2px -2px 2px,
        rgba(250, 251, 255, 0.3) 2px 2px 2px;
      transform: translateY(3px);
    }

    &--container {
      width: 100%;
      height: 100%;

      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      font-family: 'Nunito';
      color: #6e7f8d;
      pointer-events: none;
    }

    &--image {
      position: relative;
      width: 50%;
      height: 80%;
      border-radius: 15px;
      background-color: #eff2f9;
      box-shadow: inset rgba(22, 27, 29, 0.25) -2px -2px 4px,
        inset rgba(250, 251, 255, 0.3) 2px 2px 4px,
        rgba(22, 27, 29, 0.25) 5px 5px 10px,
        rgba(250, 251, 255, 0.3) -5px -5px 10px;
      transition: box-shadow 0.1s ease-in-out;

      &-el {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 88%;
        height: 88%;
        border-radius: 15px;
        // background-image: url('https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-mask-image: linear-gradient(to right, #eff2f9 5%, transparent);
        mask-image: linear-gradient(to right, #eff2f9 5%, transparent);

        // To fiddle with later
        // -webkit-mask: linear-gradient(
        //     to top,
        //     transparent 10%,
        //     #fff 15% 90%,
        //     transparent 95%
        //   ),
        //   linear-gradient(
        //     to left,
        //     transparent 10%,
        //     #fff 15% 90%,
        //     transparent 95%
        //   );
        // -webkit-mask-size: 110% 110%;
        // -webkit-mask-position: center;
        // -webkit-mask-repeat: no-repeat;
        // // -webkit-mask-composite: source-in;
        // mask: linear-gradient(
        //     to top,
        //     transparent 10%,
        //     #fff 15% 90%,
        //     transparent 95%
        //   ),
        //   linear-gradient(
        //     to left,
        //     transparent 10%,
        //     #fff 15% 90%,
        //     transparent 95%
        //   );
        // mask-size: 110% 110%;
        // mask-position: center;
        // mask-repeat: no-repeat;
        // mask-composite: intersect;
      }
    }

    &--info {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      gap: 1%;
    }

    &--title {
      height: max-content;
      margin-top: 15%;
      font-size: 1.4rem;
      font-weight: 700;
    }

    &--type,
    &--details {
      font-size: 1rem;
      font-weight: 300;
    }

    &--details {
      height: 20%;
    }

    &--type {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-1rem, 1rem);
      text-align: right;
    }
  }
}
