.recipes__holder {
  width: 100%;
  height: 100%;
  grid-column: 10 / 13;
  grid-row: 2 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  // justify-content: center;
  gap: 1.6%;
  background-color: #4f555c;
  border-radius: 25px;
  border: solid 2px white;
  overflow-y: scroll;
  pointer-events: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &-recipe {
    width: 95%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b3138;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 6px -7px;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      background-color: white;
      box-shadow: rgba(32, 32, 32, 0.4) 0px 10px 6px -7px;
    }
  }
}
