body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 8rem;
  background-image: linear-gradient(to top right, #202329, #4f555c);
  overflow: hidden;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  // padding: 0.5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: #eff2f9;
  border: 12px solid #b5bfc6;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 60px 40px -7px;
  gap: 2rem;
  transition: all 0.5s cubic-bezier(0.1, 0.7, 0.6, 0.9);
  overflow: hidden;

  &__mode {
    grid-column: 3 / 10;
    grid-row: 3 / 12;
    border-radius: 25px;
    overflow: hidden;
  }

  &__mode[data-mode='preview'] {
    box-shadow: rgba(22, 27, 29, 0.25) 8px 8px 12px,
      rgba(250, 251, 255, 0.3) -10px -10px 14px;
  }
}
