.app__mode-markdown {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  overflow: hidden;
  color: white;
}

.markdown__form {
  width: 100%;
  height: 100%;
}

.form-text {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  word-break: break-all;
  padding: 2rem;
  color: #6e7f8d;
  border-radius: 22px;
  background-color: #eff2f9;
  // background-color: #e4ebf1;
  box-shadow: inset rgba(22, 27, 29, 0.25) 4px 4px 4px,
    inset rgba(250, 251, 255, 0.3) -4px -4px 4px;
  font-family: 'Nunito';
  resize: none;

  // Testing
  line-height: 1.6;
  font-size: 1.6rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
