// rgba(79, 85, 92, 0.7)
// rgba(59, 67, 77, 0.7);
// rgba(43, 49, 56, 0.7)

.views {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;

  &__button {
    width: 50%;
    aspect-ratio: 1 /1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #eff2f9;
    border: none;
    outline: none;

    box-shadow: inset rgba(22, 27, 29, 0.25) -1px -1px 3px,
      inset rgba(250, 251, 255, 0.3) 1px 1px 3px,
      rgba(22, 27, 29, 0.25) 3px 3px 8px, rgba(250, 251, 255, 0.3) -3px -3px 8px;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.6, 0.9);
    cursor: pointer;

    &:hover {
      box-shadow: inset rgba(22, 27, 29, 0.25) -0.5px -0.5px 2px,
        inset rgba(250, 251, 255, 0.3) 0.5px 0.5px 2px,
        rgba(22, 27, 29, 0.25) 2px 2px 4px,
        rgba(250, 251, 255, 0.3) -2px -2px 4px;
    }

    &:active {
      box-shadow: inset rgba(22, 27, 29, 0.25) 2px 2px 4px,
        inset rgba(250, 251, 255, 0.3) -2px -2px 4px,
        rgba(22, 27, 29, 0.25) -0.5px -0.5px 1px,
        rgba(250, 251, 255, 0.3) 0.5px 0.5px 1px;
    }
  }

  &__icon {
    width: 50%;
    height: 50%;
    color: #6e7f8d;
  }
}

.desktop {
  max-width: 192rem;
  max-height: 108rem;
}

.laptop {
  max-width: 133.6rem;
  max-height: 76.6rem;
}

.tablet-portrait {
  max-width: 76.8rem;
  max-height: 102.4rem;
}

.tablet-landscape {
  max-width: 102.4rem;
  max-height: 76.8rem;
}

.phone-portrait {
  max-width: 37.5rem;
  max-height: 81.2rem;
}
