#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr;
  grid-template-rows: 0.15fr 1.85fr;
  grid-template-areas:
    "Input Searchbar Preview"
    "Navigation List Preview";
  background-color: var(--background);

  & > header {
    grid-column: Input / Searchbar;
    border-bottom: 2px solid var(--tertiary);

    /* provisory */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  & > nav {
    grid-area: Navigation;
    border-right: 2px solid var(--tertiary);
  }

  & > main {
    grid-area: List;
  }

  & > article {
    grid-area: Preview;
    border-left: 2px solid var(--tertiary);
  }
}
