:root {
  --primary: #fe8252;
  --secondary: #f0f5f5;
  --tertiary: #e1e7e9;
  --background: #fff;
}

[data-theme="dark"] {
  --primary: #fed852;
  --secondary: #423b47;
  --tertiary: #323137;
  --background: #161319;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
