:root {
  --primary: #fe8252;
  --secondary: #f0f5f5;
  --tertiary: #e1e7e9;
  --background: #fff;
}

[data-theme="dark"] {
  --primary: #e7c69b;
  --secondary: #1e1e1e;
  --tertiary: #191919;
  --background: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
