.app__mode-error {
  position: absolute;
  top: 2%;
  left: 45%;
  transform: translateX(-50%);
  width: auto;
  border-radius: 13px;
  color: #6e7f8d;
  background-color: #eff2f9;
  box-shadow: inset rgba(22, 27, 29, 0.25) -2px -2px 2px,
    inset rgba(250, 251, 255, 0.8) 2px 2px 2px,
    rgba(22, 27, 29, 0.25) 5px 5px 10px, rgba(250, 251, 255, 1) -5px -5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3%;
  padding: 0.5rem 2rem;
  font-family: 'Nunito';
  font-size: 1.4rem;
  z-index: 1;
  cursor: pointer;
}

.error__icon {
  width: 2rem;
  height: 2rem;
}

.error__icon-container--close > .error__icon {
  pointer-events: none;
}

.error__icon-container,
.error__message-container {
  display: flex;
  flex-shrink: 0;
}
